* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #101010;
    color: #fff;
    padding: 20px 0;

}

#footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 1.2em;
}

#footerDivs {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

#logoWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

#logoWrapper p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
    text-align: center;
    color: #ccc;

}

#logoFooter {
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

#logoFooter span{
    color: #00A2FF;
}

.colunaFooter h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    border-bottom: 2px solid #00A2FF;
    width: max-content;
}

.colunaFooter p,
.colunaFooter ul {
    font-size: 0.9em;
    color: #ccc;
}

.colunaFooter ul {
    list-style: none;
}

.colunaFooter li {
    margin-bottom: 5px;
}

.colunaFooter a {
    color: #ccc;
}

.footerCredits {
    margin-inline: auto;
    margin-top: 20px;
    font-size: 0.7em;
    color: #888;
}

#redesSociaisLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#redesSociaisLinks img {
    width: 25px;
}

#redesSociaisLinks li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

@media (max-width: 385px) {
    #logoWrapper {
        margin: 0;
        padding: 0;
        display: block;
        width: 150px;
        align-items: center;
    }

    #logoWrapper p {
        font-size: 0.5em;
        width: 100%;
    }

    #logoFooter {
        margin-left: 12px;
        font-size: 1.5em;
    }

    .colunaFooter h3 {
        font-size: 0.6em;
        margin-bottom: 5px;
    }

    .colunaFooter p,
    .colunaFooter ul {
        font-size: 0.5em;
    }

    .colunaFooter li {
        margin-bottom: 2px;
    }

    .footerCredits {

        font-size: 0.6em;
       
    }
}