/* Estilos Globais */
#sobreHoroscopo p {
    font-size: 1.3em;
}

/* Banner */
#banner {
    /* background-color: rgb(204, 127, 255); */
    background-color: #00A2FF;
    background-color: #9D3CF8;
}

/* Conteúdo Geral */
#content {
    font-family: "Dosis", sans-serif;
}

/* Informações */
#divInfo {
    margin-top: 100px;
}

/* Grade e Linha de Signos */
#gradeSignos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.linhaSignos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
}

.signos img {
    width: 85px;
    cursor: pointer;
}

/* Seção Horóscopo */
#sobreHoroscopo {
    margin: 100px 0 0 50px;
}

#sobreHoroscopo h1 {
    color: #9D3CF8;
}

#sobreHoroscopo p {
    width: 80%;
    text-align: justify;
}

/* Tabela de Signos */
#tabelaSignos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    margin: 50px 0 50px 100px;
}

#tabelaSignos p {
    width: 70%;
    text-align: justify;
}

.tabelaItemCard {
    display: flex;
    gap: 15px;
}

.tabelaItemCard img {
    width: 70px;
}

#tabelaSignos a {
    color: #000;
}

/* Media Queries */
/* Telas pequenas (mobile) - max-width 480px */
@media (max-width: 480px) {
    #tabelaSignos {
        margin: 50px auto;
    }
}
