#banner{
    background-color:rgb(255, 92, 16);
    background-color: #00A2FF;
}

#divConteudo{
    margin-top: 100px;
    width: 100%;
}

#exibirSigno{
    position: absolute;
    border-bottom: 4px solid #000;
    width: max-content;
    font-size: 5em;
    text-transform: capitalize;
}

.zodiacWheel {
    position: relative;
    width: 750px; /* Tamanho do círculo */
    height: 750px;
    border-radius: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
}

.zodiacWheel::after{
    content: '';
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    width: 450px; /* Tamanho do círculo */
    height: 450px;
}

.sign {
    
    position: absolute;
    font-size: 4em;    
    cursor: pointer;
    transform: rotate(var(--angle)) translate(305px) rotate(calc(-1 * var(--angle)));
    transition: 1.2s ease-in-out;
}

.esconder{
    display: hidden;
}

.sign img{
    width: 1.2em;
}

@media (max-width: 768px) {
    .zodiacWheel {
        position: relative;
        width: 500px; /* Tamanho do círculo */
        height: 500px;
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
    }
    
    .zodiacWheel::after{
        content: '';
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        width: 300px; /* Tamanho do círculo */
        height: 300px;
    }
    
    .sign {
        position: absolute;
        font-size: 4em;    
        cursor: pointer;
        transform: rotate(var(--angle)) translate(200px) rotate(calc(-1 * var(--angle)));
    }
    
    .sign img{
        width: 1em;
    }
    
    #titleSigns {
        position: relative;
        margin-inline: auto;
        width: max-content;
        font-size: 2.7em;
        font-weight: 400;
        letter-spacing: 3px;
    }
}

@media (max-width: 480px) {
    .zodiacWheel {
        position: relative;
        width: 350px; /* Tamanho do círculo */
        height: 350px;
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #000;
    }
    
    .zodiacWheel::after{
        content: '';
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        width: 200px; /* Tamanho do círculo */
        height: 200px;
    }
    
    .sign {
        position: absolute;
        font-size: 2.5em;    
        cursor: pointer;
        transform: rotate(var(--angle)) translate(140px) rotate(calc(-1 * var(--angle)));
    }
    
    .sign img{
        width: 1em;
    }
    
    #titleSigns {
        position: relative;
        margin-inline: auto;
        width: max-content;
        font-size: 2.7em;
        font-weight: 400;
        letter-spacing: 3px;
    }
}


